{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>
    <div class="container">
        <div class="nicebox-row">
          <div class="nicebox"><a href="#">
              <figure><img src="https://unsplash.it/400/400?image=1080" alt="image"/>
                <figcaption>
                  <h3>Lorem</h3><span>Floor 3 | sector A33</span>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis nesciunt unde consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis.</p>
                </figcaption>
              </figure></a>
          </div>
  
          <div class="nicebox"><a href="#">
            <figure><img src="https://unsplash.it/400/400?image=1080" alt="image"/>
              <figcaption>
                <h3>Lorem</h3><span>Floor 3 | sector A33</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis nesciunt unde consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis.</p>
              </figcaption>
            </figure></a>
        </div>
  
        <div class="nicebox"><a href="#">
          <figure><img src="https://unsplash.it/400/400?image=1080" alt="image"/>
            <figcaption>
              <h3>Lorem</h3><span>Floor 3 | sector A33</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis nesciunt unde consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis.</p>
            </figcaption>
          </figure></a>
        </div>
  
        <div class="nicebox"><a href="#">
          <figure><img src="https://unsplash.it/400/400?image=1080" alt="image"/>
            <figcaption>
              <h3>Lorem</h3><span>Floor 3 | sector A33</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis nesciunt unde consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis.</p>
            </figcaption>
          </figure></a>
      </div>
      <div class="nicebox"><a href="#">
        <figure><img src="https://unsplash.it/400/400?image=1080" alt="image"/>
          <figcaption>
            <h3>Lorem</h3><span>Floor 3 | sector A33</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis nesciunt unde consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis.</p>
          </figcaption>
        </figure></a>
    </div>
    <div class="nicebox"><a href="#">
      <figure><img src="https://unsplash.it/400/400?image=1080" alt="image"/>
        <figcaption>
          <h3>Lorem</h3><span>Floor 3 | sector A33</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis nesciunt unde consectetur adipisicing elit. Quaerat, ipsa et veniam ipsum quam expedita, dicta. Consectetur perferendis.</p>
        </figcaption>
      </figure></a>
  </div>
        </div>
      </div>
  
  </div>
{% endblock %}