{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>
    
    <div class="container">

      <div class="nicebox-row">

        {% for item in active %}

          <div class="flip-card">  

            <div class="flip-card-inner">
              <div class="flip-card-front">

                  <img src="https://unsplash.it/400/400?image=1080" alt="Avatar">
                    <h1>panda</h1>
                    <h4>Current Bid : 50$</h4>
              </div>
            
                
                
              <div class="flip-card-back">
                <h1>John Doe</h1> 
                <p>Architect & Engineer</p> 
                <p>We love that guy</p>
              </div>
                
                <!-- <div><img src="" alt="image"/>
  
                    <h3>{{item.title}}</h3><span>Current bid : {{item.current_bid}}$</span>
                    
                    <!--max describtions len = 411 char (must filled with spaces to keep align style)
                </div>
               </a> -->

            </div>
          </div>

         {% endfor %}

       </div>

    </div>
  
{% endblock %}