{% extends "auctions/layout.html" %}
{% load static %}
{% block head %}
    <title>{{product.title}}</title>
{% endblock %}


{% block body %}

    <div class="product_img" >
        <h1>{{product.title}}</h1>
        <img src =  "{{product.image.url}}" alt={{product.title}} style = "width: 250px; height: 330px;">
        
        <h4>Current Bid : {{product.current_bid}}$</h4>
    </div>
    <h2 style="color:blue;">{{product.owner.username}}</h2>
    {% if user == product.user %}
    <h2 style="color:blue;">you added it</h2>
    {% endif%}

    <form class = "bid_input" action="{% url 'product' product.id%}" method="post">
        {% csrf_token %}
        <input class = "form-control" name = "bid" type ="text" placeholder = "add new bid" style = "width: 200px; display:inline;">
        <input type = "submit" class = "btn btn-primary" value = "Submit new bid" name = "new_bid" >
        <input type = "submit" class ="btn btn-primary" name = "to_watch_list" value = "Add to Watch List">
    </form>
    {% if not user.is_authenticated %}
        <h6 style ="color:red;">Please login first</h6>
    {% elif error == 1%}
        <h6 style ="color:red;">Bid must be a number lager than current bid</h6>
    {% elif error == 3%}
        <h6 style ="color:green;">Bid added successfully!!</h6>
    {% endif%}

    <h5>Comments</h5>
    {% for comment in comments %}
        <h6>{{comment.user}}</h6>
        <hr>
        <p>{{comment.text}}</p>
        <span> </span>
    {% endfor %}



{% endblock %}